.name

  md-input-container
    md-placeholder Opleiding
    input(type="text", mdInput,  [mdAutocomplete]="program", [(ngModel)]="selectedProgramName", (focusout)="checkProgram()", (input)="checkProgram()")
  md-autocomplete(#program="mdAutocomplete")
    md-option(*ngFor="let programname of getProgramNames()", [value]="programname")
      | {{programname}}

  md-input-container("[class.hidden]"="!selectedProgramName")
    md-placeholder Afstudeerrichting
    input(type="text", mdInput, [mdAutocomplete]="grad", [(ngModel)]="selectedGradProgramName", (focusout)="checkProgram()", (input)="checkProgram()")
  md-autocomplete(#grad="mdAutocomplete")
    md-option(*ngFor="let programname of getGradProgramNames()", [value]="programname")
      | {{programname}}

.renameControls.buttonrow(*ngIf="enableRenameControls")
  button(md-raised-button, color="accent" "(click)"="addProgram()" ) Nieuw Programma
  button(md-raised-button, color="accent" "(click)"="rename()", *ngIf="selectedProgram") Hernoem Programma
.program( *ngIf="selectedProgram", [data]="selectedProgram",[cache]="caches[selectedProgram.objectId]", [programloader]="this",[class.disabled]="enableRenameControls")
