
//p {{data.objectId}}

button.sidesave(md-mini-fab, *ngIf="isDirty()", "(click)"="saveProgram()", [style.top.px]="pageScroll")
  md-icon save

.year(*ngFor="let year of data.years; let ly = last", [data]="year", (delete)="deleteYearAt($event)", [lastYear]="ly", [program]="this")
.buttonrow
  button(md-raised-button, color="accent" "(click)"="newYear()" ) Nieuw Studiejaar
  button.right(md-raised-button, color="accent", [disabled]="!isDirty()", "(click)"="saveProgram()" ) Opslaan
