md-card
  md-card-title
    h2 Jaar {{data.order}}

  .course(*ngFor="let course of data.courses", [data]="course")
  .buttonrow
    button(md-raised-button, color="accent" "(click)"="newCourse()" ).fullwidth Nieuw Opleidingsonderdeel
