.mat-input-placeholder-wrapper{
  overflow: visible !important;
}
.programloader{
  width: 600px;
  margin: 10px auto;
  >.name{
    display: flex;
    width: 100%;
    >md-input-container{
      flex-basis: 300px;
      flex-shink: 1;
      flex-grow: 1;
      transition: flex-basis 0.2s ease;
    }
    >.hidden{
        flex-basis: 0px;
        flex-grow: 0;
    }
  }
  .buttonrow{
    margin-bottom: 10px;
    >button{
      margin-right: 10px;
    }
    .right {
      float: right;
    }
  }
  .program{
    .periodelabel{
      margin-bottom: 0;
      color: rgba(0,0,0,.38);
    }
    .periode{
      height: 42px;
      position: relative;
      >*{
        position: absolute;
      }
    }
  }
  md-card {
    margin-bottom: 10px;
  }
  .fullwidth{
    width: 100%;
  }
  .halfwidth{
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
    &:nth-child(2n){
      padding-left: 10px;
    }
  }

}
